body {
    width: 100%;
    height: 100%;
    background-color: #eee;
    font-size: 20px;
}

header {
    position: fixed;
    top: 0;
    left: 0;
}

.main-logo {
    display: block;
    background: url("img/logo.png");
    width: 133px;
    height: 100px;
    transition: 0.5s;
}

.main-logo:hover {
    background: url("img/logo2.png");
    transition: 0.5s;
}

.container {
    width: 385px;
    height: 485px;
    margin: 100px auto;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    "disp_inp disp_inp disp_inp disp_inp"
    "btn_ce btn_c btn_del btn_mult"
    "btn_7 btn_8 btn_9 btn_min"
    "btn_4 btn_5 btn_6 btn_plus"
    "btn_1 btn_2 btn_3 equal"
    "btn_0 btn_0 dot equal";
    background-color: #1C93EE;
    padding: 30px;
    border-radius: 6px;
    text-align: center;
}

#btn_ce {
    grid-area: btn_ce;
}
#btn_c {
    grid-area: btn_c;
}
#btn_del {
    grid-area: btn_del;
}
#btn_mult {
    grid-area: btn_mult;
}
#btn_0 {
    grid-area: btn_0;
}
#btn_1 {
    grid-area: btn_1;
}
#btn_2 {
    grid-area: btn_2;
}
#btn_3 {
    grid-area: btn_3;
}
#btn_4 {
    grid-area: btn_4;
}
#btn_5 {
    grid-area: btn_5;
}
#btn_6 {
    grid-area: btn_6;
}
#btn_7 {
    grid-area: btn_7;
}
#btn_8 {
    grid-area: btn_8;
}
#btn_9 {
    grid-area: btn_9;
}
#disp_inp {
    grid-area: disp_inp;
}
#dot {
    grid-area: dot;
}
#equal {
    grid-area: equal;
}

.calc-display-input {
    width: 379px;
    border-radius: 6px;
    background-color: #1D1D1D;
    color: #fff;
    text-align: right;
    font-size: 35px;
    margin: 0;
}

.btn {
    width: 96%;
    height: 96%;
    background-color: #f4f4f4;
    font-size: 27px;
    color: #666666;
    text-transform: uppercase;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.1s all;
   
}

.btn-hover-red:hover {
    background-color: #d83e33;
    color: #f2f2f2;
}

.btn-hover-orange:hover {
    background-color: #FF6A00;
    color: #f2f2f2;
}

.btn-hover-green:hover {
    background-color: green;
    color: #f2f2f2;
}

.btn:active {
    transform: translateY(-1px);
    box-shadow: 0px 1px #ccc;
}

.btn-long {
    width: 98%;
    
}

.btn-equal {
    height: 98%;
}

input, button {
    border: 1px grey solid;
    border-radius: 4px; 
       
}



@media screen and (max-width: 768px) {
    .container {
        width: 300px;
        margin: 0 auto;
    }
    .calc-display-input {
        width: 290px;
    }
    
    input[placeholder]          {font-size: 28px;}
    input::-moz-placeholder     {font-size: 28px;} 
    input:-moz-placeholder      {font-size: 28px;} 
    input:-ms-input-placeholder {font-size: 28px;}  
    
    .btn {
        width : 96%;
        font-size: 20px;
    }
    .btn-long {
        width: 98%;
        font-size: 18px;
    }
}
@media screen and (max-width: 400px) {
    .container {
       
        width: 65%;
        height: 90%;
        
        
    }
    .calc-display {
        width: 62,5%;
        height: 80%;
    }
    .calc-display-input{
        width: 94%;
        height: 80%;
        
    }
    
    .btn {
        width : 80%;
        height: 80%;
        font-size: 14px;
    }
    .btn-long {
        width: 90%;
    }
    .btn-equal {
        height: 90%;
    }
    input[placeholder]          {font-size: 22px;}
    input::-moz-placeholder     {font-size: 22px;} 
    input:-moz-placeholder      {font-size: 22px;} 
    input:-ms-input-placeholder {font-size: 22px;}  
}
